<div class="section">
    <div class="section-name">Skills</div>
    <div class="section-content">
        <div class="section-date"></div>
        <div class="section-description">
            {% for skill in skills %}
            <div class="section-text">{{ skill }}</div>
            {% endfor %}
        </div>
    </div>
</div>